/* ========== Text Styles ========== */
hr { color: canvastext}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: canvastext;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 9pt;
}
span.rvts12
{
 font-size: 11pt;
 font-weight: bold;
 color: canvas;
}
span.rvts13
{
 font-size: 16pt;
 font-weight: bold;
 color: canvas;
}
span.rvts14
{
 color: canvas;
}
span.rvts15 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts16, span.rvts16 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts17
{
 font-style: italic;
 font-weight: bold;
}
span.rvts18
{
 font-style: italic;
 font-weight: bold;
 color: canvas;
}
span.rvts19
{
 font-size: 11pt;
 color: canvas;
}
a.rvts20, span.rvts20
{
 font-size: 11pt;
 color: canvas;
 text-decoration: underline;
}
span.rvts21
{
 font-size: 11pt;
 font-weight: bold;
 color: canvas;
}
a.rvts22, span.rvts22
{
 font-size: 9pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts23
{
 font-size: 8pt;
 color: canvas;
}
span.rvts24
{
 font-size: 9.5pt;
 font-family: 'AdvPECFC3C';
}
span.rvts25
{
 font-size: 9.5pt;
 font-family: 'AdvPECFC3C';
 font-weight: bold;
}
span.rvts26
{
 font-size: 9pt;
 font-weight: bold;
}
span.rvts27
{
 font-size: 9pt;
}
span.rvts28
{
 font-size: 9pt;
 font-weight: bold;
}
span.rvts29
{
 font-size: 9.5pt;
}
span.rvts30
{
 font-size: 9pt;
 color: #000000;
}
span.rvts31
{
 font-size: 11pt;
}
span.rvts32
{
 font-size: 9.5pt;
}
span.rvts33
{
 font-size: 9pt;
 font-style: italic;
}
span.rvts34
{
 font-weight: bold;
}
span.rvts35
{
 font-size: 11pt;
 font-weight: bold;
}
a.rvts36, span.rvts36
{
 font-size: 9.5pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts37
{
}
span.rvts38
{
 font-weight: bold;
}
span.rvts39
{
 font-style: italic;
 font-weight: bold;
}
span.rvts40
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts41
{
 font-size: 9pt;
 text-decoration: underline;
}
span.rvts42
{
 font-size: 8pt;
}
span.rvts43
{
 font-size: 8pt;
 font-weight: bold;
}
span.rvts44
{
 font-size: 8pt;
 font-style: italic;
}
span.rvts45
{
 font-size: 16pt;
 font-weight: bold;
 color: canvas;
}
span.rvts46
{
 font-size: 9pt;
 font-weight: bold;
 color: #000000;
}
span.rvts47
{
 font-size: 9pt;
 font-style: italic;
 color: #000000;
}
span.rvts48
{
 font-size: 9pt;
 color: canvas;
 background-color: #7030a0;
}
span.rvts49
{
 font-size: 9pt;
 color: canvas;
}
span.rvts50
{
 font-size: 9pt;
 color: transparent;
}
span.rvts51
{
 font-size: 9.5pt;
 font-family: 'Fd164248-Identity-H';
 color: #1f1c1f;
}
a.rvts52, span.rvts52
{
 font-size: 11pt;
 color: #000000;
 text-decoration: underline;
}
span.rvts53
{
 font-size: 11pt;
 color: #000000;
}
span.rvts54
{
 color: transparent;
}
span.rvts55
{
 font-weight: bold;
 color: transparent;
}
span.rvts56
{
 font-size: 13pt;
 font-weight: bold;
 color: canvas;
}
span.rvts57
{
 font-weight: bold;
 color: canvas;
}
span.rvts58
{
 font-size: 9pt;
 font-weight: bold;
 color: transparent;
}
span.rvts59
{
 font-size: 9pt;
 font-style: italic;
 color: transparent;
}
span.rvts60
{
 font-size: 9pt;
 font-weight: bold;
 color: buttontext;
}
span.rvts61
{
 font-size: 9pt;
 color: buttontext;
}
a.rvts62, span.rvts62
{
 font-size: 9pt;
 color: #000000;
 text-decoration: underline;
}
span.rvts63
{
 font-size: 17pt;
 color: #000000;
}
span.rvts64
{
 font-size: 12pt;
 color: #000000;
}
span.rvts65
{
 font-size: 31pt;
 color: #000000;
}
span.rvts66
{
 font-size: 9pt;
 color: #1f1c1f;
}
span.rvts67
{
 font-size: 9pt;
 color: #201c1e;
}
span.rvts68
{
 font-size: 9pt;
 font-weight: bold;
 color: canvas;
}
span.rvts69
{
 font-size: 9pt;
 color: #000000;
}
span.rvts70
{
 font-size: 11pt;
 color: #000000;
}
span.rvts71
{
 font-size: 9pt;
 color: #000000;
 text-decoration: underline;
}
span.rvts72
{
 font-size: 9pt;
 color: #000000;
}
span.rvts73
{
 font-size: 9pt;
 font-weight: bold;
 color: #000000;
}
a.rvts74, span.rvts74
{
 font-size: 9pt;
 color: transparent;
 text-decoration: underline;
}
span.rvts75
{
 font-weight: bold;
 color: #000000;
}
span.rvts76
{
 color: #000000;
}
span.rvts77
{
 font-size: 9pt;
 color: #ff0000;
}
span.rvts78
{
 font-size: 9pt;
 color: #000000;
 text-decoration: underline;
}
span.rvts79
{
 font-size: 9pt;
 color: #000000;
}
span.rvts80
{
 font-size: 9pt;
 font-weight: bold;
 color: #000000;
}
span.rvts81
{
 font-size: 8pt;
 color: transparent;
}
span.rvts82
{
 font-size: 9pt;
}
span.rvts83
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts84
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts85
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts86
{
 font-size: 9pt;
 font-weight: bold;
}
span.rvts87
{
 font-size: 9pt;
 font-family: 'Segoe UI';
 font-weight: bold;
}
span.rvts88
{
 font-size: 14pt;
}
span.rvts89
{
 font-style: italic;
}
span.rvts90
{
 font-style: italic;
 text-decoration: underline;
}
span.rvts91
{
 font-size: 6pt;
 font-style: italic;
}
span.rvts92
{
 font-size: 7pt;
 font-weight: bold;
}
span.rvts93
{
 font-size: 8pt;
 font-style: italic;
}
span.rvts94
{
 font-size: 8pt;
 font-weight: bold;
}
span.rvts95
{
 font-weight: bold;
}
span.rvts96
{
 font-size: 13pt;
 font-weight: bold;
}
span.rvts97
{
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-align: center;
 text-indent: 0px;
 break-after: avoid;
 background: #00b050;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps5
{
 text-align: center;
 background: #7030a0;
}
.rvps6 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps7
{
 text-align: left;
 text-indent: 0px;
 break-after: avoid;
 background: #00b050;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps8
{
 background: #7030a0;
}
.rvps9
{
 background: #0070c0;
}
.rvps10
{
 text-align: left;
 text-indent: 0px;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps11
{
 text-align: left;
 text-indent: 0px;
 break-after: avoid;
 background: #7030a0;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps12
{
 text-align: center;
 border-color: canvastext;
 border-style: solid;
 border-width: 1px;
}
.rvps13
{
 text-align: center;
 text-indent: 0px;
 break-after: avoid;
 border-color: canvastext;
 border-style: solid;
 border-width: 1px;
 padding: 0px 0px 0px 0px;
 margin: 15px 0px 3px 0px;
}
.rvps14
{
 text-align: left;
 text-indent: 0px;
 break-after: avoid;
 background: #c00000;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps15
{
 margin: 0px 0px 0px 72px;
}
.rvps16
{
 margin: 0px 0px 0px 24px;
}
.rvps17
{
}
.rvps18
{
 margin: 0px 0px 0px 48px;
}
.rvps19
{
 background: #00b050;
}
.rvps20
{
 border-color: #ff0000;
 border-style: solid;
 border-width: 1px;
 background: #bfbfbf;
}
.rvps21
{
 margin: 0px 0px 0px 47px;
}
.rvps22
{
 text-align: center;
 background: #00b050;
}
.rvps23
{
 text-align: center;
 background: #66c9ff;
}
.rvps24
{
 text-indent: 48px;
}
.rvps25
{
 margin: 7px 0px 7px 12px;
}
.rvps26
{
 text-align: center;
 margin: 7px 0px 7px 12px;
}
.rvps27
{
 margin: 7px 0px 7px 7px;
}
.rvps28
{
 text-align: center;
 margin: 7px 0px 7px 7px;
}
.rvps29
{
 margin: 0px 0px 0px 24px;
}
.rvps30
{
}
.rvps31
{
 text-align: center;
}
.rvps32
{
 margin: 0px 0px 0px 23px;
}
.rvps33
{
 text-align: center;
 margin: 1px 1px 1px 1px;
}
.rvps34
{
 border-color: canvastext;
 border-style: solid;
 border-width: 1px;
}
.rvps35
{
 text-align: center;
 text-indent: 0px;
 break-after: avoid;
 border-color: #ff6600;
 border-style: solid;
 border-width: 1px;
 padding: 0px 0px 0px 0px;
 margin: 15px 0px 3px 0px;
}
.rvps36
{
 border-color: #ff9900;
 border-style: solid;
 border-width: 1px;
}
.rvps37
{
 border-color: #ffcc00;
 border-style: solid;
 border-width: 1px;
}
.rvps38
{
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps39
{
 text-indent: -24px;
 padding: 0px 0px 0px 24px;
}
.rvps40
{
 text-align: center;
 margin: 0px 0px 0px 1px;
}
.rvps41
{
 text-indent: -24px;
 padding: 0px 0px 0px 24px;
 margin: 0px 0px 0px 72px;
}
.rvps42
{
 text-indent: -24px;
 padding: 0px 0px 0px 24px;
 margin: 0px 0px 0px 120px;
}
.rvps43
{
 text-indent: -24px;
 padding: 0px 0px 0px 24px;
 margin: 0px 0px 0px 168px;
}
.rvps44
{
}
.rvps45
{
 text-indent: -24px;
 padding: 0px 0px 0px 24px;
}
.rvps46
{
 text-indent: -24px;
 padding: 0px 0px 0px 24px;
 margin: 0px 0px 0px 48px;
}
.rvps47
{
 text-indent: -24px;
 padding: 0px 0px 0px 24px;
 margin: 0px 0px 0px 24px;
}
.rvps48
{
 margin: 0px 0px 0px 24px;
}
.rvps49
{
 text-indent: -24px;
 padding: 0px 0px 0px 24px;
 margin: 0px 0px 0px 96px;
}
.rvps50
{
 margin: 0px 1px 0px 0px;
}
.rvps51
{
 margin: 8px 1px 8px 0px;
}
.rvps52
{
 break-after: avoid;
 margin: 16px 1px 4px 0px;
}
.rvps53
{
 margin: 8px 0px 16px 0px;
}
.rvps54
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 1px 0px 0px;
}
.rvps55
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 1px 0px 0px;
}
.rvps56
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 1px 4px 0px;
}
.rvps57
{
 margin: 0px 1px 0px 0px;
}
.rvps58
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 1px 0px 0px;
}
.rvps59
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 1px 4px 0px;
}
.rvps60
{
 text-align: left;
 text-indent: 0px;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 1px 4px 0px;
}
.rvps61
{
 margin: 0px 1px 0px 0px;
}
.rvps62
{
 text-align: left;
 text-indent: 0px;
 break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps63
{
 margin: 0px 0px 0px 9px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: '- ';}
li.noindent { margin-left: 0; padding-left: 0; }
